// Common - Navigation
//------------------------------------------------------------------------------

/* Navigation */

.navbar-brand {
	max-width: 75%;
	padding: 0px;

	img {
		max-height: 50px;
		max-width: 100%;
	}
}