
// Variables
//------------------------------------------------------------------------------

// Color definitions
$color-red: #EF4C23 !default;
$color-white: #FFF;

// Container definitions
$container-width: 92% !default;
$max-container-width: 1400px !default;
$container-padding: 4% !default;
$max-page-width: 1026px !default;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-arial: "Arial", "Helvetica Neue", Helvetica, serif !default;
$font-pathway-gothic: "Pathway Gothic One", Helvetica, Arial, sans-serif;
$font-size: 1.6em !default;
$font-line-height: 1.4 !default;

//Device Widths
$phone:	480px;
$tablet: 768px;
$desktop: 1024px;